.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	@include mobile {
		height: 100vh;
	}

	&__title {
		margin-top: 130px;
		margin-bottom: 0;
		color: $color-black;
		font-family: $font-raleway;
		font-size: 49px;
		font-weight: 400;
		@include mobile {
			margin-top: 50px;
		}
	}

	&__text {
		margin: 20px 0 40px 0;
		color: $color-black;
		font-family: $font-open-sans;
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		@include mobile {
			padding: 0 70px;
		}
	}

	&__cta {
		color: $color-white;
		font-family: $font-open-sans;
		font-weight: 600;
		font-size: 16px;
		background: $main-color;
		padding: 20px 150px;
		border-radius: 40px;
		box-shadow: $main-color-shadow;
		@include mobile {
			padding: 20px 70px;
		}
	}

	&__img {
		width: 100%;
		height: auto;
		@include tablet {
			width: 170%;
		}
		@include mobile {
			width: 220%;
		}
	}
}
